################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/NewAlgorithMen/v17/.wsuo
/.vs/NewAlgorithMen/v17/DocumentLayout.json
/.vs/ki projekt/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/ki projekt/v17/DocumentLayout.json
