################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/NewAlgorithMen/v17/.wsuo
/.vs/NewAlgorithMen/v17/DocumentLayout.json
